<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/common.css">
  <title>Women's Christian College Chennai - 01</title>
</head>
<body>

  <!-- Navigation Bar -->
  <nav>
   <ul id="navigation-links">
    <li><a class="menu-link" href="/">Home</a></li>
    <li><a class="menu-link" href="/login-student">Login</a></li>
    <li><a class="menu-link" href="/register-student">Register</a></li>
    <li><a class="menu-link" href="/logout">Logout</a></li>
    <!-- Add more menu items if needed -->
</ul>
</nav>

</body>
</html>
