<!-- extracurricular_activity.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/design.css">
    <title>Extracurricular Activity</title>
</head>
<body>
    <div id="extracurricular-form-container" class="form-container">
    <form action="/submit-extracurricular-activity" method="POST" enctype="multipart/form-data">
        <label for="registerNumber">Register Number:</label>
        <br>
        <br>
        <input type="text" id="registerNumber" name="registerNumber" required>
        <br>
        <br>
        <label for="nameOfEvent">Name of Event:</label>
        <br>
        <br>
        <input type="text" id="nameOfEvent" name="nameOfEvent" required>
        <br>
        <br>
        <label for="eventDate">Date of Event:</label>
        <br>
        <br>
        <input type="date" id="eventDate" name="eventDate" required>
        <br>
        <br>
        <label for="location">Location:</label>
        <br>
        <br>
        <input type="text" id="location" name="location">
        <br>
        <br>
        <label for="organisers">Organisers:</label>
        <br>
        <br>
        <input type="text" id="organisers" name="organisers">
        <br>
        <br>
        <!-- File input for photo -->
        <label for="photo">Photo:</label><br><br>
        <br>
        <input type="file" id="photo" name="photo" accept="image/png, image/jpeg"><br><br>
        <br>
        <!-- File input for certificate -->
        <label for="certificate">Certificate:</label><br><br>
        <br>
        <input type="file" id="certificate" name="certificate" required accept="image/png, image/jpeg"><br><br>
        <br>
       
        <button type="submit">Submit</button>
        
    </form>
    </div>
</body>
</html>
