<!-- extracurricular_activity.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/design.css">
    <title>Extracurricular Activity</title>
</head>
<body>
    <div id="extracurricular-form-container" class="form-container">
    <form action="/submit-extracurricular-activity" method="POST">
        <label for="registerNumber">Register Number:</label>
        <br>
        <br>
        <input type="text" id="registerNumber" name="registerNumber" required>
        <br>
        <br>
        <label for="nameOfEvent">Name of Event:</label>
        <br>
        <br>
        <input type="text" id="nameOfEvent" name="nameOfEvent" required>
        <br>
        <br>
        <label for="eventDate">Date of Event:</label>
        <br>
        <br>
        <input type="date" id="eventDate" name="eventDate" required>
        <br>
        <br>
        <label for="location">Location:</label>
        <br>
        <br>
        <input type="text" id="location" name="location">
        <br>
        <br>
        <label for="organisers">Organisers:</label>
        <br>
        <br>
        <input type="text" id="organisers" name="organisers">
        <br>
        <br>
        <label for="photoURL">Photo URL:</label>
        <br>
        <br>
        <input type="text" id="photoURL" name="photoURL">
        <br>
        <br>
        <label for="certificateURL">Certificate URL:</label>
        <br>
        <br>
        <input type="text" id="certificateURL" name="certificateURL" required>
        <br>
        <br>
        <button type="submit">Submit</button>
        
    </form>
    </div>
</body>
</html>
