<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/common.css">
  <title>Women's Christian College Chennai - 01</title>
</head>
<body>

  <!-- Navigation Bar -->
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login-student">Login</a></li>
        <li><a href="/register-student">Register</a></li>
        <!-- Add more menu items if needed -->
    </ul>
</nav>

       

 
  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Women's Christian College Chennai - 01. All rights reserved.</p>
  </footer>

</body>
</html>

